@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
    font-family: 'Bagoss';
    src: url('../fonts/BagossStandardTRIAL-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

// fonts
$main-font: 'Bagoss', sans-serif;
$secondary-font: 'Inter', sans-serif;

// spacer
$spacer-xxs: 8px;
$spacer-xs: 16px;
$spacer-s: 24px;
$spacer-m: 40px;

// colors
$main-color: #E4FD27;
$secondary-color: #D199F9;

// greyscale
$white: #FFFFFF;
$grey: #CDCED0;
$black: #000000;