@import url('./_variables.scss');

body {
    background-color: var(--Black, #101010);
    font-family:  var(--main-font, 'Bagoss', sans-serif);
}

.songs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 20vw;
}