.picker {
    position: fixed;
    bottom: 24px;
    right: 24px;
    display: flex;
    gap: var(--spacer-s, 24px);

    div {
        opacity: 0.5;
        transition: all 0.5s;
        cursor: pointer;

        color: white;

        &:hover {
            opacity: 1;
        }
    }
}