@import '../../styles/variables.scss';

.picker {
    display: flex;
    gap: var(--spacer-s, 24px);

    div {
        opacity: 0.5;
        transition: all 0.5s;
        cursor: pointer;

        color: var(--white, #FFFFFF);

        &:hover {
            opacity: 1;
        }
    }
}