@import '../../styles/variables.scss';

.searchContainer {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
}

.input {
    display: flex;
    align-items: center;
    padding: 4px 12px;

    width: 100%;

    border-radius: 8px;
    border: none;
    background-color: var(--White, #FFFFFF);
}